[submodule "libs/pugixml"]
	path = libs/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "libs/zip"]
	path = libs/zip
	url = git@github.com:kuba--/zip.git
[submodule "libs/tinygltf"]
	path = libs/tinygltf
	url = git@github.com:syoyo/tinygltf.git
